<peoplepicker-inner>
    <div class="cam-peoplepicker-userlookup ms-fullWidth form-control">
        <span>
            <span *ngFor="let usr of ResolvedUsers" class="cam-peoplepicker-userSpan">
                <span class="cam-entity-resolved">{{usr.Name}}</span><a title="{{usr.getResultDisplay()}}"
                                                                       class="cam-peoplepicker-delImage" (click)="OnDeleteProcessedUser(usr)" href="#">x</a>
            </span>
        </span>
        <input class="cam-peoplepicker-edit" type="text" width="400" [focus]="pickerFieldInputNameFocus" />
    </div>
    <div *ngIf="PickerResultsDisplay" class="cam-peoplepicker-usersearch ms-emphasisBorder">
        <div class='ms-bgHoverable' style='width: 400px; padding: 4px;'
             *ngFor="let usr of ResultantUsers"
             (click)="onRecipientSelected(usr)">
            <span *ngIf="ShowLoginName">{{usr.displayName}}<br /></span>
            <span *ngIf="ShowTitle">{{usr.title}}</span>
        </div>
        <div *ngIf="HasResultantMessage" class='ms-emphasisBorder' style='width: 400px; padding: 4px; border-left: none; border-bottom: none; border-right: none; cursor: default;'>
            <span>{{ResultantMessage}}</span>
        </div>
    </div>
    <input type="hidden" class="form-control" [(ngModel)]="pickerFieldHiddenName" />
</peoplepicker-inner>