# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules
npm-debug.log

# type script artifacts
/typings

# Bower components
/bower_components

# ignore build and dist for now
/bin
/pkg
/obj
/bundles
/dist
/coverage
/ts
/doc

# ignore inline compiling
/directives/pp-bootstrap.js
/directives/pp-bootstrap.map
/apps/**/*.js
/apps/**/*.js.map
/components/**/*.js
/components/**/*.js.map
/content/**/*.min.css
ajs-sp-addInWeb.csproj.user